<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>QuestionReponse</title>
</head>
<body>

    <th:block th:if="${isWin == true or isWin == false}">

<!--    <p th:if="${isLose}  !=null && #bools.isTrue(isWin)}">-->
<!--        <p>Bravo c est la bonne reponse</p>-->
 <p th:text="${isWin?'Bravo c est la bonne reponse':'Dommage c est une mauvaise reponse'}"> </p>
<!--    </p>-->
<!--    <p th:if="${isWin!=null && #bools.isFalse(isWin)}">-->
<!--        Nul c est la mauvaise reponse-->
        <!-- <p th:text="${isWin?'Bravo c est la bonne reponse':'Dommage c est une mauvaise reponse'}"> </p>-->
    </th:block>

<p>Voici le classement des joueurs</p>

<form method="get" action="play">
    <input type="submit" value="Play">
</form>

<ul th:each="j:${joueurs}">
        <li th:text="'---' + ${j.classement} + '--- Pseudo : ' + ${j.name} + '  w/l : ' + ${j.partie}" ></li>
    </ul>

</body>
</html>