<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>QuestionReponse</title>
</head>
<body>
<h1>Bonne chance</h1>
<form method = "post" action="play">

    <p th:text="'Voici la question : '+${question.title}"> </p>
    <label for="question"></label>
    <input type="hidden" name="question" id="question" th:value="${question.id}"/>


    <label for="player">Choix du joueur</label>
    <select name="player" id="player">
            <option th:each = "p:${players}" th:value="${p.id}" th:text="${p.name}"></option>
    </select>
    <br/>



    <label for="answer">Choix de la reponse</label>
    <select name="answer" id="answer">
        <option th:value="${answers.get(0).id}" th:text="${answers.get(0).title}"></option>
        <option th:value="${answers.get(1).id}"th:text="${answers.get(1).title}"></option>
        <option th:value="${answers.get(2).id}"th:text="${answers.get(2).title}"></option>
    </select>
    <br/>


    <input type="submit" value="Envoyer">
</form>

</body>
</html>